@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  src: 
        url('../fonts/livvic-v13-latin-regular.woff2') format('woff2'), 
        url('../fonts/livvic-v13-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: 
        url('../fonts/livvic-v13-latin-600.woff2') format('woff2'),
        url('../fonts/livvic-v13-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: 
        url('../fonts/livvic-v13-latin-700.woff2') format('woff2'),
        url('../fonts/livvic-v13-latin-700.woff') format('woff');
}

* {
  box-sizing: border-box;
}

.body {
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.back-color {
  background-color: rgba(1, 78, 86, 1);
}

.logo-line {
  height: 50px;
  width: 1100px;
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 180px;
}

.site-logo-link {
  display: inline-block;
}

.site-logo {
  display: block;
  width: 160px;
  height: 40px;
  transition: transform 0.3s ease;
}

.site-logo:hover {
  transform: scale(1.2);
}

.navigation-list {
  padding: 0;
  list-style-type: none;
  width: 140px;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 577px;
}

.navigation-item {
  Font-family: 'Livvic';
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  cursor: pointer;
}

.navigation-item:hover {
  color: rgba(246, 126, 126, 1);
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  width: 153px;
  height: 48px;
  Font-family: 'Livvic';
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 25px;
  background-color: rgba(1, 78, 86, 1);
  transition: color 0.5s ease,
  background-color 0.5s ease;
}

.header-button:hover {
  color: rgba(0, 37, 41, 1);
  border: 1px solid #ffffff;
  border-radius: 25px;
  background-color: #ffffff;
}

.settings-menu {
  display: none;
}

.hero-content {
  display: flex;
  max-width: 1110px;
  height: 200px;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero-heading {
  Font-family: 'Livvic';
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  margin-bottom: 50px;
}

.hero-text {
  position: relative;
  width: 730px;
  height: 112px;
  Font-family: 'Livvic';
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.hero-text::before {
  position: absolute;
  top: -40px;
  width: 50px;
  height: 4px;
  content: "";
  background-color: rgba(246, 126, 126, 1);
}

.directors {
  background-color: #004047;
}

.directors-content {
  width: 1100px;
  height: 722px;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 850px;
}

.directors-heading {
  font-family: 'Livvic';
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.directors-list {
  list-style-type: none;
  width: 1140px;
  height: 610px;
  justify-content: space-between;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.directors-item {
  position: relative;
  width: 350px;
  height: 250px;
  background-color: rgba(1, 47, 52, 1);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 70px;
}

.directors-photo {
  width: 95px;
  height: 95px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
}

.directors-name {
  font-family: 'Livvic';
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: rgba(121, 200, 199, 1);
  margin-bottom: 10px;
}

.achievments {
  font-family: 'Livvic';
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
}

.aden {
  margin: 0;
  margin-top: 30px;
}

.last {
  width: 254px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.linkk {
  display: flex;
  width: 60px;
  height: 20px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.plus {
  position: absolute;
  padding: 20px;
  border: 1px solid #F67E7E;
  border-radius: 30px;
  width: 56px;
  height: 56px;
  background-color: #F67E7E;
  top: 220px;
  left: 150px;
}

.plus:hover {
  background-color: #79C8C7;
  border: 1px solid #79C8C7;
}

.clients {
  background-color: #012F34;
}

.clients-content {
  padding-top: 90px;
  padding-bottom: 250px;
  width: 1100px;
  height: 157px;
}

.clients-heading {
  width: 920px;
  height: 48px;
  font-family: 'Livvic';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clients-list {
  list-style-type: none;
  display: flex;
  width: 1100px;
  height: 45px;
  justify-content: space-between;
  padding: 0;
  margin-top: 70px;
}

.started {
  background-color: #F67E7E;
}

.started-content {
  margin-left: auto;
  margin-right: auto;
  width: 917px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.started-heading {
  width: 504px;
  height: 48px;
  font-family: 'Livvic';
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(1, 47, 52, 1);
  margin: 0;
}

.started-button {
  font-family: 'Livvic';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(1, 47, 52, 1);
  padding: 10px 32px;
  margin: 0;
  border: 3px solid rgba(1, 47, 52, 1);
  border-radius: 30px;
  background-color: #F67E7E;
  cursor: pointer;
}

.started-button:hover {
  background-color: yellowgreen;
}

.footer {
  background-color: #002529;
}

.footer-content {
  width: 1100px;
  height: 100px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 150px;
  margin-right: auto;
  margin-left: auto;
  align-items: flex-start;
}

.footer-sections {
  width: 140px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.section-elements {
  font-family: 'Livvic';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 445px;
  margin-left: 120px;
  margin-right: 120px;
}

.footer-item {
  font-family: 'Livvic';
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
  opacity: 60%;
}

.right-space {
  width: 254px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.links {
  width: 250px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
}

.right-space-span {
  font-family: 'Livvic';
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
  opacity: 60%;
  margin-top: 50px;
}

@media only screen and (max-width: 1130px) {
  .container {
    max-width: 720px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .back-color {
    background-color: rgba(1, 78, 86, 1);
  }
  
  .logo-line {
    height: 50px;
    width: 689px;
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 110px;
  }
  
  .navigation-list {
    padding: 0;
    list-style-type: none;
    width: 140px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 220px;
  }
  
  .navigation-item {
    Font-family: 'Livvic';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
  }
  
  .navigation-item:hover {
    color: rgba(246, 126, 126, 1);
  }
  
  .header-button {
    cursor: pointer;
    width: 153px;
    height: 48px;
    Font-family: 'Livvic';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
    background-color: rgba(1, 78, 86, 1);
  }
  
  .header-button:hover {
    color: rgba(0, 37, 41, 1);
    border: 1px solid #ffffff;
    border-radius: 25px;
    background-color: #ffffff;
  }

  .settings-menu {
    display: none;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    padding: 0;
    padding-bottom: 300px;
  }
  
  .hero-heading {
    Font-family: 'Livvic';
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  
  .heading-span {
    color: rgba(246, 126, 126, 1);
  }
  
  .hero-text {
    width: 457px;
    height: 84px;
    Font-family: 'Livvic';
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
  }

  .hero-text::before {
    content: none;
  }

  .directors {
    background-color: #004047;
  }
  
  .directors-content {
    width: 690px;
    height: 1050px;
    display: flex;
    padding-top: 100px;
    padding-bottom: 1050px;
  }
  
  .directors-heading {
    font-family: 'Livvic';
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
  }
  
  .directors-list {
    list-style-type: none;
    width: 620px;
    height: 825px;
    justify-content: space-around;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  
  .directors-item {
    position: relative;
    width: 280px;
    height: 250px;
    background-color: rgba(1, 47, 52, 1);
    display: flex;
    text-align: center;
    margin-bottom: 35px;
  }
  
  .directors-photo {
    width: 95px;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .directors-name {
    font-family: 'Livvic';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: rgba(121, 200, 199, 1);
    margin-bottom: 10px;
  }
  
  .achievments {
    font-family: 'Livvic';
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
  }
  
  .aden {
    margin: 0;
    margin-top: 30px;
  }
  
  .last {
    width: 254px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  
  .linkk {
    display: flex;
    width: 60px;
    height: 20px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  
  .plus {
    position: absolute;
    padding: 20px;
    border: 1px solid #F67E7E;
    border-radius: 30px;
    width: 56px;
    height: 56px;
    background-color: #F67E7E;
    top: 215px;
    left: 112px;
  }
  
  .plus:hover {
    background-color: #79C8C7;
    border: 1px solid #79C8C7;
  }

  .clients {
    background-color: #012F34;
  }
  
  .clients-content {
    padding-top: 90px;
    padding-bottom: 200px;
    width: 690px;
    height: 110px;
  }
  
  .clients-heading {
    width: 457px;
    height: 32px;
    font-family: 'Livvic';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .clients-list {
    list-style-type: none;
    display: flex;
    width: 689px;
    height: 28px;
    justify-content: space-between;
    padding: 0;
    margin-top: 70px;
  }

  .first {
    width: 103px;
    height: 17px;
  }

  .second {
    width: 114px;
    height: 14px;
  }

  .third {
    width: 112px;
    height: 17px;
  }

  .fourth {
    width: 103px;
    height: 17px;
  }

  .fifth {
    width: 61px;
    height: 28px;
  }

  .started {
    background-color: #F67E7E;
  }
  
  .started-content {
    margin-left: auto;
    margin-right: auto;
    width: 573px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .started-heading {
    width: 336px;
    height: 32px;
    font-family: 'Livvic';
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(1, 47, 52, 1);
    margin: 0;
  }
  
  .started-button {
    font-family: 'Livvic';
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: rgba(1, 47, 52, 1);
    padding: 10px 32px;
    margin: 0;
    border: 3px solid rgba(1, 47, 52, 1);
    border-radius: 30px;
    background-color: #F67E7E;
    cursor: pointer;
  }

  .footer {
    background-color: #002529;
  }
  
  .footer-content {
    width: 689px;
    height: 159px;
    display: flex;
    padding-top: 100px;
    padding-bottom: 250px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .logo {
    width: 98px;
    height: 24px;
  }

  .footer-sections {
    width: 107px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .section-elements {
    font-family: 'Livvic';
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
  }
  
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 280px;
  }
  
  .footer-item {
    font-family: 'Livvic';
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
    text-align: right;
  }
  
  .right-space {
    width: 689px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 65px;
  }
  
  .links {
    width: 104px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  
  .right-space-span {
    width: 255px;
    height: 25px;
    font-family: 'Livvic';
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
    margin: 0;
  }
}

@media only screen and (max-width: 730px) {
  .container {
    max-width: 360px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .back-color {
    background-color: rgba(1, 78, 86, 1);
  }
  
  .logo-line {
    height: 32px;
    width: 325px;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
    justify-content: space-between;
  }
  
  .site-logo {
    margin: 0;
  }

  .navigation-list {
    display: none;
  }
  
  .header-button {
    display: none;
  }
  
  .settings-menu {
    display: block;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    max-width: 327px;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 300px;
  }
  
  .hero-heading {
    Font-family: 'Livvic';
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  
  .heading-span {
    color: rgba(246, 126, 126, 1);
  }
  
  .hero-text {
    width: 327px;
    height: 112px;
    Font-family: 'Livvic';
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .hero-text::before {
    content: none;
  }

  .directors {
    background-color: #004047;
  }
  
  .directors-content {
    width: 327px;
    height: 1886px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 1900px;
  }
  
  .directors-heading {
    font-family: 'Livvic';
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
  }
  
  .directors-list {
    list-style-type: none;
    width: 327px;
    height: 1806px;
    justify-content: space-around;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    margin-left: 8%;
  }
  
  .directors-item {
    position: relative;
    width: 280px;
    height: 250px;
    background-color: rgba(1, 47, 52, 1);
    display: flex;
    text-align: center;
    margin-bottom: 45px;
  }
  
  .directors-photo {
    width: 95px;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .directors-name {
    font-family: 'Livvic';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: rgba(121, 200, 199, 1);
    margin-bottom: 10px;
  }
  
  .achievments {
    font-family: 'Livvic';
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
  }
  
  .aden {
    margin: 0;
    margin-top: 30px;
  }
  
  .last {
    width: 254px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  
  .linkk {
    display: flex;
    width: 60px;
    height: 20px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  
  .plus {
    position: absolute;
    padding: 20px;
    border: 1px solid #F67E7E;
    border-radius: 30px;
    width: 56px;
    height: 56px;
    background-color: #F67E7E;
    top: 210px;
    left: 108px;
  }
  
  .plus:hover {
    background-color: #79C8C7;
    border: 1px solid #79C8C7;
  }

  .clients {
    background-color: #012F34;
  }
  
  .clients-content {
    padding-top: 90px;
    padding-bottom: 500px;
    width: 327px;
    height: 456px;
  }
  
  .clients-heading {
    width: 327px;
    height: 32px;
    font-family: 'Livvic';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .clients-list {
    list-style-type: none;
    display: flex;
    width: 163px;
    height: 360px;
    flex-direction: column;
    padding: 0;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .first {
    width: 147px;
    height: 25px;
  }

  .second {
    width: 162px;
    height: 20px;
  }

  .third {
    width: 160px;
    height: 25px;
  }

  .fourth {
    width: 145px;
    height: 25px;
  }

  .fifth {
    width: 86px;
    height: 40px;
  }

  .started {
    background-color: #F67E7E;
  }
  
  .started-content {
    margin-left: auto;
    margin-right: auto;
    width: 327px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 230px;
  }
  
  .started-heading {
    width: 327px;
    height: 64px;
    font-family: 'Livvic';
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(1, 47, 52, 1);
    margin: 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .started-button {
    font-family: 'Livvic';
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: rgba(1, 47, 52, 1);
    padding: 10px 32px;
    margin: 0;
    border: 3px solid rgba(1, 47, 52, 1);
    border-radius: 30px;
    background-color: #F67E7E;
    cursor: pointer;
    margin-top: 30px;
  }

  .footer {
    background-color: #002529;
  }
  
  .footer-content {
    width: 327px;
    height: 302px;
    display: flex;
    padding-bottom: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .logo {
    width: 96px;
    height: 24px;
    margin-left: 100%;
    margin-bottom: 25px;
  }

  .footer-sections {
    margin: 0;
    margin-left: 100%;
    width: 107px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  .section-elements {
    font-family: 'Livvic';
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
  }
  
  .footer-list {
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 327px;
    margin-bottom: 40px;
  }
  
  .footer-item {
    font-family: 'Livvic';
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
    text-align: center;
  }
  
  .right-space {
    width: 255px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
  }
  
  .links {
    margin-left: 45%;
    width: 104px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  
  .right-space-span {
    width: 255px;
    height: 25px;
    font-family: 'Livvic';
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
    margin: 0;
    text-align: center;
    margin-left: 15%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 385px) {
  .container {
    max-width: 360px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .back-color {
    background-color: rgba(1, 78, 86, 1);
  }
  
  .logo-line {
    height: 32px;
    width: 280px;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
    justify-content: space-between;
  }
  
  .site-logo {
    margin: 0;
  }

  .navigation-list {
    display: none;
  }
  
  .header-button {
    display: none;
  }
  
  .settings-menu {
    display: block;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 300px;
  }
  
  .hero-heading {
    Font-family: 'Livvic';
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  
  .heading-span {
    color: rgba(246, 126, 126, 1);
  }
  
  .hero-text {
    width: 280px;
    height: 112px;
    Font-family: 'Livvic';
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .hero-text::before {
    content: none;
  }

  .directors-content {
    width: 280px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 1900px;
  }
  
  .directors-heading {
    font-family: 'Livvic';
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    text-align: center;
  }
  
  .directors-list {
    list-style-type: none;
    width: 280px;
    justify-content: space-around;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    margin-left: 5px;
  }
  
  .directors-item {
    position: relative;
    width: 280px;
    height: 250px;
    background-color: rgba(1, 47, 52, 1);
    display: flex;
    text-align: center;
    margin-bottom: 45px;
  }
  
  .directors-photo {
    width: 95px;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .directors-name {
    font-family: 'Livvic';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: rgba(121, 200, 199, 1);
    margin-bottom: 10px;
  }
  
  .achievments {
    font-family: 'Livvic';
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
  }
  
  .aden {
    margin: 0;
    margin-top: 30px;
  }
  
  .last {
    width: 254px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  
  .linkk {
    display: flex;
    width: 60px;
    height: 20px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  
  .plus {
    position: absolute;
    padding: 20px;
    border: 1px solid #F67E7E;
    border-radius: 30px;
    width: 56px;
    height: 56px;
    background-color: #F67E7E;
    top: 210px;
    left: 108px;
  }
  
  .plus:hover {
    background-color: #79C8C7;
    border: 1px solid #79C8C7;
  }

  .clients {
    background-color: #012F34;
  }
  
  .clients-content {
    padding-top: 30px;
    padding-bottom: 500px;
    width: 280px;
  }
  
  .clients-heading {
    width: 280px;
    font-family: 'Livvic';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .clients-list {
    list-style-type: none;
    display: flex;
    width: 163px;
    height: 360px;
    flex-direction: column;
    padding: 0;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .first {
    width: 147px;
    height: 25px;
  }

  .second {
    width: 162px;
    height: 20px;
  }

  .third {
    width: 160px;
    height: 25px;
  }

  .fourth {
    width: 145px;
    height: 25px;
  }

  .fifth {
    width: 86px;
    height: 40px;
  }

  .started {
    background-color: #F67E7E;
  }
  
  .started-content {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 230px;
  }
  
  .started-heading {
    width: 280px;
    font-family: 'Livvic';
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(1, 47, 52, 1);
    margin: 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .started-button {
    font-family: 'Livvic';
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: rgba(1, 47, 52, 1);
    padding: 10px 32px;
    margin: 0;
    border: 3px solid rgba(1, 47, 52, 1);
    border-radius: 30px;
    background-color: #F67E7E;
    cursor: pointer;
    margin-top: 30px;
  }

  .footer {
    background-color: #002529;
  }
  
  .footer-content {
    width: 280px;
    display: flex;
    padding-bottom: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .logo {
    width: 96px;
    height: 24px;
    margin-left: 90px;
    margin-bottom: 25px;
  }

  .footer-sections {
    margin: 0;
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 80px;
  }
  
  .section-elements {
    font-family: 'Livvic';
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
  }
  
  .footer-list {
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 327px;
    margin-bottom: 40px;
  }
  
  .footer-item {
    font-family: 'Livvic';
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
    text-align: center;
  }
  
  .right-space {
    width: 255px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
  }
  
  .links {
    margin-left: 80px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  
  .right-space-span {
    width: 220px;
    height: 25px;
    font-family: 'Livvic';
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
    margin: 0;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
  }
}